/* baystate
 * By Chad Metcalf
 */

:root {
	--base00: #F8F6F1;
	--base01: #f0ede6;
	--base02: #e2dfd8;
	--base03: #8A847A;
	--base04: #6b6963;
	--base05: #1a1917;
	--base06: #2B3D2F;
	--base07: #100f0e;
	--base08: #8B1A3A;
	--base09: #BF4C0D;
	--base0A: #8A6508;
	--base0B: #1A7A50;
	--base0C: #08736E;
	--base0D: #0056A7;
	--base0E: #5E2D91;
	--base0F: #4A1028;
}
